/*Moving Navbar*/
#navbod {
    background-color: white;
    width: 188vh;
    height: 12vh;
    overflow: hidden;
    text-align: right;
    margin-left: -8px;
}
#navbod a {
    color: #585858;
    text-align: right;
    padding-right: 40px;
    padding-left: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.menu {
    margin-top: 19px;
    margin-right: 70px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
img {
    width: auto;
    height: auto;
}
/*-----------------------------*/

/*Button Navbar*/
.btn {
    background-color: #FEC104; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px -20px 0px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.daftar {
    background-color: white; 
    color: #FEC104; 
    border: 1px solid #FEC104;
}
.daftar:hover {
    background-color: #FEC104;
    color: white;
}
.masuk {
    background-color: #FEC104; 
    color: white; 
    border: 1px solid #FEC104;
}
.masuk:hover {
    background-color: white;
    color: #FEC104;
}
/*-----------------------------*/

/*Homepage Quotes*/
.image {
    background-color: black;
    width: 188vh;
    height: 120vh;
    margin-top: -26vh;
    margin-left: -8px;
}
.quotes {
    font-family: classic;
}
.one {
    color: white;
    padding-left: 65vh;
    padding-top: 30vh;
    font-size: 80px;
}
.two {

}
/*-----------------------------*/

/*Moving Card*/
.mainbg {
    background-color: #0A0A0Aff;
    width: 188vh;
    height: 47vh;
    margin-top: -8px;
    margin-left: -8px;
    position: absolute;
}
.cardbod {
    background-color: white;
    width: 23vh;
    height: 35vh;
    border-radius: 10px 10px 10px 10px;
}
.cardimg1 {
    width: 23vh;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}
.cardcord {
    margin: 33px 0px 0px 30px;
}
.cardname {
    font-family: comic;
    font-size: 12px;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 13px;
}
.cardtext {
    font-family: comic;
    font-size: 11px;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 13px;;
}
/*-----------------------------*/

/*Custom Font*/
@font-face {
    font-family: comic;
    src: url(font/regular.otf);
}
@font-face {
    font-family: classic;
    src: url(font/perfectlyamicable.ttf);
}
/*-----------------------------*/